---
Language: Cpp
BasedOnStyle: Google
IndentWidth: 2
ColumnLimit: 80
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BinPackParameters: false
DerivePointerAlignment: false
PointerAlignment: Left
SortIncludes: true
SpaceAfterCStyleCast: true
